.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    margin-left: 25px;
    color: white;
    font-family: 'Gabriela', sans-serif;
    font-size: 26px;
    font-weight: bold;
    transition: 0.2s;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
    color: var(--main-yellow);
}