.main-navigation__logo {
    color: white;
    font-family: 'Gabriela', sans-serif;
    font-size: 30px;
    font-weight: bold;
    transition: 0.2s;
}

.main-navigation__logo span {
    color: var(--main-yellow);
}

.main-navigation__logo_black {
    color: black;
}

.main-navigation__logo_centered {
    margin: 0 auto;
}