.main-navigation {
    padding: 0 20px;
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
}

.main-navigation__menu-btn {
    width: 50px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
}

.main-navigation__menu-btn span {
    width: 100%;
    height: 4px;
    display: block;
    background: white;
}

.main-navigation__drawer-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.main-navigation__desktop-nav {
    display: none;
}

@media (min-width: 768px) {
    .main-navigation__menu-btn {
      display: none;
    }
  
    .main-navigation__desktop-nav {
      display: block;
    }
  }