.sidebar__filter {
    margin-top: 10px;
}

.sidebar__header {
    font-size: 25px;
    font-family: 'Gabriela', sans-serif;
}

.sidebar__list {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.sidebar__filter li {
    margin-left: 10px;
}

@media (min-width: 1200px) {
    .sidebar__list {
        flex-direction: column;
    }
}