* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;

  a {
    text-decoration: none;
  }

  ul, h2, h3, h4, p, input {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}
