.search input {
    width: 100%;
    padding: 10px;
    padding-left: 50px;
    background-color: white;
    background-image: url('search-icon.png');
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid lightgray;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
}

.search input:focus {
    box-shadow: 0 2px 5px 0 lightgray;
}